In [1]:
i= 1 + 2j

In [2]:
i

(1+2j)

In [3]:
type(i)

complex

In [4]:
i.imag

2.0

In [5]:
id(i)

2664102071600

In [6]:
x=1.0
type(x)

float

In [7]:
k= False
type(k)

bool

In [8]:
True + True

2

In [9]:
True + False

1

In [10]:
False + True

1

In [11]:
False + False

0

In [12]:
name = "shruti"
name
type(name)

str

In [13]:
name

'shruti'

In [14]:
#type casting
1+"shruti"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
str(1)+"shruti"

In [15]:
"shruti" * 10

'shrutishrutishrutishrutishrutishrutishrutishrutishrutishruti'

In [16]:
4*3

12

In [17]:
4**3

64

In [19]:
a=9

if(a < 3):
    print("this is my irst code")
elif a<6:
    print("elif part")
else:
    print("deault")

deault

# list

In [2]:
k = []
type(k)

list

In [3]:
m= list()
type(m)

list

In [4]:
k=["shruti" , "tripathi" , "vinod",123 , 12.50 , 6+7j]
k

['shruti', 'tripathi', 'vinod', 123, 12.5, (6+7j)]

In [5]:
k[1:4]

['tripathi', 'vinod', 123]

In [7]:
k[1:4:2]

['tripathi', 123]

In [8]:
k[4:1:-1]

[12.5, 123, 'vinod']

In [9]:
k[::-1]

[(6+7j), 12.5, 123, 'vinod', 'tripathi', 'shruti']

In [10]:
s="shruti"
s[::-1]

'iturhs'

In [15]:
if type(k) == str:
    print(k)

In [14]:
for i in k:
    if type(i) == str:
        print(i)

shruti
tripathi
vinod

In [17]:
i=3+4J
b=type(i)

if b == complex:
    print("complex")
else:
    print("not complex")

complex

In [18]:
m=list("shruti")
m

['s', 'h', 'r', 'u', 't', 'i']

In [19]:
m=list("shruti", "tripathi")
m

TypeError: list expected at most 1 argument, got 2

In [20]:
m=list(["shruti", "tripathi"])
m

['shruti', 'tripathi']

In [21]:
s="shruti"
s[1:4:2]

'hu'

# apend

append always append a data in tail

In [37]:
l=[]
l.append("shruti")
l.append("tripathi")
l.append(29)

In [38]:
l

['shruti', 'tripathi', 29]

# insert

l.insert(index,object)
it takes two argument first where we insert index and second what we insert

In [39]:
l.insert(0,["vinod","mamta"])

In [40]:
l

[['vinod', 'mamta'], 'shruti', 'tripathi', 29]

In [41]:
l[0]

['vinod', 'mamta']

In [42]:
l[0][1]

'mamta'

In [43]:
list(l[0][1])

['m', 'a', 'm', 't', 'a']

In [45]:
s="shruti"
for i in s:
    print(i)

s
h
r
u
t
i

In [47]:
for i in [1,2,3,"sudh"]:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [49]:
if type(i)==str:
    print(i[::-1])

hdus

In [56]:
l=[]
for i in [1,2,3,"shruti",["mamta","vinod","tripathi"]]:
    if type(i)==list:
        for j in i[::-1]:
            l.append(j[::-1])
l

['ihtapirt', 'doniv', 'atmam']

In [57]:
#program to find the sum of all numbers stored in a list

numbers=[6, 5, 3, 8, 4, 2, 5, 4, 9]

sum = 0
for val in numbers:
    sum = sum+val
    
print(sum)

46

In [58]:
n=10
sum=0
i=1
while(i<=n):
    sum=sum+i
    i=i+1
    
print(sum)

55

# range

In [72]:
range(10)

range(0, 10)

In [63]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [73]:
len(range(10))

10

In [75]:
l=["shruti" ,"tripathi","xfgjbbb",12,17,19]
for i in range(0,len(l),2):
    print(l[i])

shruti
xfgjbbb
17

In [78]:
m=[]
l=["shruti" ,"tripathi","xfgjbbb",12,17,19]
for i in range(len(l)-1,-1,-1):
    m.append(l[i])
    
print(m)

[19, 17, 12, 'xfgjbbb', 'tripathi', 'shruti']

# assignment

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed
in a comma-separated sequence on a single line.

In [1]:
for i in range(2000,3200):
    if (i%7==0) and (i%5!=0):
        print(i,end='\n')

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

2. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [3]:
name = input("print first name : ")
name2 =input("print second name :")
fullname = name+" "+name2
print(fullname)
print(fullname[::-1])

print first name : shruti
print second name :tripathi
shruti tripathi
ihtapirt iturhs

Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * π * r 3

In [6]:
import math
math.pi
d=12
r=float(d/2)
v=(float(4/3)*(math.pi)*(r)**3)
print(v)

904.7786842338603

# string

In [7]:
s="Hello World"

In [8]:
s

'Hello World'

In [9]:
s[0]

'H'

In [10]:
s.upper()

'HELLO WORLD'

In [11]:
s.lower()

'hello world'

In [12]:
s.split()

['Hello', 'World']

In [13]:
s.split('o')

['Hell', ' W', 'rld']

In [2]:
a="shruti"
"insert a data {} in runtime {} :".format(a,a)

'insert a data shruti in runtime shruti :'

In [3]:
s="shhhrruhuftd"
s.count('h')

4

In [4]:
s.find('f')

9

In [1]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

matrix = [l1,l2,l3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
l = []
for i in matrix:
    l.append(i[1])
    
l

[2, 5, 8]

In [4]:
first_col=[row[1] for row in matrix]
first_col

[2, 5, 8]

In [5]:
first_col=[row[1]**2 for row in matrix]
first_col

[4, 25, 64]

# tuple

In [6]:
t=()
type(t)

tuple

# Function

In [3]:
def num_square(num):
    return num**2,num

In [4]:
num_square(12)

(144, 12)

In [9]:
def even_odd(num):
    if (num%2==0):
        print("this {} is even".format(num))
    else:
        print("this {} is odd".format(num))

In [10]:
even_odd(6)

this 6 is even

# assignment

Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [8]:
def myreduce(anyfunc, sequence):
    result = sequence[0]
    
    for i in sequence[1:]:
        result = result+i
        
    return result

In [9]:
def sum(x, y):
    return x+y

In [12]:
myreduce(sum,[1,2,3,4])

10

In [19]:
word='ACADGILD'
l=[i for i in word]
print(l)

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [22]:
list=['x','y','z']
i=[item*num for item in list for num in range(1,5)]
print(i)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [23]:
list=['x','y','z']
i=[item*num for num in range(1,5) for item in list]
print(i)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [27]:
list=[2,3,4]
l=[[item+num] for item in list for num in range(0,3)]
print(l)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

Write a function filter_long_words() that takes a list of words and an integer n and returns
the list of words that are longer than n.

In [4]:
lst= ["sh","shr","shru","shruti" , "tripathi"]
def filter_long_word(lst , n):
    return[i for i in lst if len(i)>n]

In [5]:
filter_long_word(lst,4)

['shruti', 'tripathi']

Write a Python program using function concept that maps list of words into a list of integers
representing the lengths of the corresponding words.
Hint: If a list [ ab,cde,erty] is passed on to the python function output should come as [2,3,4]
Here 2,3 and 4 are the lengths of the words in the list.

In [2]:
lst =["ab","cde","erty"]

def len_of_words(lst):
    return [len(i) for i in lst]

In [3]:
len_of_words(lst)

[2, 3, 4]

Write a Python function which takes a character (i.e. a string of length 1) and returns True if
it is a vowel, False otherwise.

In [4]:
def is_vowel(char):
    vowels=['a','e','i','o','u']
    if char not in vowels:
        return False
    return True

In [5]:
is_vowel('a')

True

In [6]:
is_vowel('b')

False

 Write a Python program to check if all dictionaries in a list are empty or not.

In [10]:
lst1=[{},{},{}]
lst2=[{123,456},{},{}]
print(all(not d for d in lst1))
print(all(not d for d in lst2))

True
False

Write a Python program to remove duplicates from a list of lists.

In [12]:
List1 = [1,1,2]
List2 = [0, 0,1, 1, 1, 2, 2, 3, 3, 4]
List3 = [1,1,2,3,3,5,6,6,6,6,6,6,6,8,8,9,10,10,11,14,20,25,25,26,26,26]

def dublicates_remover(list):
    temp =[]
    for x in list:
        if x not in temp:
            temp.append(x)
    print(temp)
            
            
            
dublicates_remover(List1)
dublicates_remover(List2)
dublicates_remover(List3)

[1, 2]
[0, 1, 2, 3, 4]
[1, 2, 3, 5, 6, 8, 9, 10, 11, 14, 20, 25, 26]

In [21]:
import itertools
num = [[110, 120], [240], [330, 456, 425], [310, 220], [133], [240]]
print("original list",num)
num.sort()

new_num =list(num for num,_ in itertools.groupby(num))
print("new list",new_num)

original list [[110, 120], [240], [330, 456, 425], [310, 220], [133], [240]]
new list [[110, 120], [133], [240], [310, 220], [330, 456, 425]]

Write a Python program to extend a list without append.

In [24]:
x = [103, 320, 430]
y = [403, 503, 603]
x[:0]=y
x

[403, 503, 603, 103, 320, 430]

Write a Python program to find the list in a list of lists whose sum of elements is the highest

In [25]:
my_list = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
print(max(my_list,key=sum))

[10, 11, 12]

In [26]:
print(max(my_list,key=lambda x : sum(x)))

[10, 11, 12]

Write a Python program to access dictionary key’s element by index.

In [38]:
my_list = {'john': 15, 'dave': 12, 'jack': 10}
list_of_keys = list(my_list)
for i in range(len(list_of_keys)):
    print('the key', list_of_keys[i], 'has index', i)

the key john has index 0
the key dave has index 1
the key jack has index 2

In [41]:
num = {'stats': 80, 'math': 90, 'algorithm': 86}
list_of_keys = list(num)
for i in range(len(list_of_keys)):
    print("the key ",list_of_keys[i] , "has index" , i)

the key  stats has index 0
the key  math has index 1
the key  algorithm has index 2

In [43]:
print(list(num)[:])

['stats', 'math', 'algorithm']

Write a Python program to iterate over two lists simultaneously.

In [44]:
num = [1, 2, 3]
color = ['red', 'while', 'black']
for (a,b) in zip(num , color):
    print(a,b)

1 red
2 while
3 black

write a program to inser a string at the begining of every elements in a list

In [59]:
a = [100,123,345,567,789,890,98,876,543,678]
print(['customers'+str(i) for i in a])

['customers100', 'customers123', 'customers345', 'customers567', 'customers789', 'customers890', 'customers98', 'customers876', 'customers543', 'customers678']

In [61]:
print(['customers{0}'.format(i) for i in a])

['customers100', 'customers123', 'customers345', 'customers567', 'customers789', 'customers890', 'customers98', 'customers876', 'customers543', 'customers678']

write a program to take two lists and print if they have at least one common member

In [66]:
list1= [121,222,332,432,125]
list2= [121,236,457,678,779]

def common_number(list1,list2):
    result = False
    for x in list1:
        for y in list2:
            if x==y:
                result = True
    return result

In [67]:
common_number(list1,list2)

True

In [70]:
list_one = [1, 2, 3, 4, 5, 'red']
list_two = ['yellow', 'red', 'blue', 2, 5]

common_items = []
for i in list_one:
    if i in list_two:
        common_items.append(i)
print('list one is', list_one, ', list two is', list_two,'their common items are', common_items)

list one is [1, 2, 3, 4, 5, 'red'] , list two is ['yellow', 'red', 'blue', 2, 5] their common items are [2, 5, 'red']

In [71]:
common_items = list(set(list_one) & set(list_two))     # common_items = list(set(list_one).intersection(set(list_two)))
print('list one is', list_one, ', list two is', list_two,
      'their common items are', common_items)

list one is [1, 2, 3, 4, 5, 'red'] , list two is ['yellow', 'red', 'blue', 2, 5] their common items are [2, 5, 'red']

In [72]:
common_items = list(set(list_one).intersection(set(list_two)))
print('list one is', list_one, ', list two is', list_two,
      'their common items are', common_items)

list one is [1, 2, 3, 4, 5, 'red'] , list two is ['yellow', 'red', 'blue', 2, 5] their common items are [2, 5, 'red']

compute all permutations in a list

In [74]:
import itertools
print(list(itertools.permutations([12,22,23])))

[(12, 22, 23), (12, 23, 22), (22, 12, 23), (22, 23, 12), (23, 12, 22), (23, 22, 12)]